$green: #59dfa5;
$greenLight: #97fdac;
$greenDark: #04b79c;
$text: #808080;

@mixin f300 {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
}
@mixin f400 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}
@mixin f500 {
  font-family: "Comfortaa", cursive;
  font-weight: 500;
}
@mixin f700 {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}
