@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";
// start dots
.dots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  position: absolute;
  width: 100px;
  li {
    background-color: $green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: dotsDance 3000ms ease-in-out infinite;
  }
}
@keyframes dotsDance {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
// end dots

// start header
.header {
  height: 140px;
  position: relative;
  margin-bottom: 40px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f5f4ec;
    opacity: 0.2;
    width: 7000px;
    height: 900px;
    border-radius: 0 0 20% 70%;
    z-index: -1;
  }
  .nav-item {
    & + .nav-item {
      margin-left: 40px;
    }
  }
  .nav-link {
    position: relative;
    overflow-x: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 2px;
      background-color: $green;
      height: 2px;
      width: 0;
      opacity: 0;
      transition: 0.5s all ease-in-out;
    }
  }
  .nav-item.active .nav-link::after {
    width: 100%;
    opacity: 1;
  }
  .nav-item.active .nav-link {
    color: $green;
  }
  .nav-item:hover .nav-link {
    color: $green;
  }
  .nav-link {
    font-size: 16px;
    color: $text;
    @include f700;
  }
  &__menu {
    padding-top: 40px;
  }
  &__dots {
    top: 700px;
    right: 250px;
  }
}
// end header

// start logo
.logo {
  margin-bottom: 350px;
  &__img {
    width: 200px;
  }
  &__title {
    font-size: 65px;
    letter-spacing: 0.6em;
    @include f300;
    margin-bottom: 15px;
  }
  &__paragraph {
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.5em;
    margin-bottom: 30px;
  }
  &__btn {
    padding: 24px 50px;
    font-size: 18px;
    line-height: 1.25;
    background-color: $green;
    border-radius: 10px;
    @include f700;
    transition: 0.2s all ease-in-out;
    text-align: center;
    letter-spacing: 0.1em;
    &:hover {
      background-color: #2c343b;
    }
  }
}
// end logo

// start skins
.title {
  letter-spacing: 0.1em;
  @include f700;
}
.primary {
  font-size: 30px;
  line-height: 1.33333;
  @include f700;
}
.skins {
  margin-bottom: 200px;
  &__container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &__title {
    font-size: 60px;
    margin-bottom: 15px;
    span {
      color: $green;
    }
  }
  &__text {
    color: $text;
    font-size: 12px;
    margin-bottom: 60px;
  }
  &__filters {
    .skins__btn {
      position: relative;
      font-size: 16px;
      @include f500;
      border: none;
      background: transparent;
      margin-bottom: 60px;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0px;
        background-color: $green;
        height: 2px;
        width: 0;
        opacity: 0;
        transition: 0.5s all ease-in-out;
      }
      &.mixitup-control-active.skins__btn::after {
        width: 100%;
        opacity: 1;
      }
      &:hover.skins__btn::after {
        width: 100%;
        opacity: 1;
      }
    }
    button + button {
      margin-left: 40px;
    }
  }
  &__item {
    // display: block;
    margin-top: 30px;
    &:hover > .skins__item-image img {
      display: block;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0px 20px rgb(0 0 0 / 20%);
      transform: scale(1.05);
    }
    &-image {
      img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
      }
    }
    &-title {
      font-size: 18px;
      color: #000;
      transition: all 0.3s ease-in-out;
      display: inline-block;
      &:hover {
        color: $green;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
// end skins

// start advantages
.advantages {
  position: relative;
  margin-bottom: 200px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -180px;
    background-color: #f5f4ec;
    opacity: 0.2;
    max-width: 1200px;
    width: 100%;
    height: 800px;
    border-radius: 0 80% 80% 50%;
    z-index: -1;
  }
  .container {
    max-width: 1920px;
  }
  &__title {
    font-size: 80px;
    margin-bottom: 20px;
  }
  &__primary {
    color: $green;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    color: $text;
    @include f300;
  }
  &__dots {
    right: 200px;
    top: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    li {
      width: 10px;
      height: 10px;
    }
  }
  &__info {
    max-width: 555px;
    margin-left: -200px;
  }
  &__items {
    margin-top: 120px;
    &-right {
      margin-top: 200px;
    }
  }
  &__item {
    max-width: 475px;
    width: 100%;
    & + & {
      margin-top: 60px;
    }
    &-image {
      width: 60px;
      margin-bottom: 50px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: $green;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }
    &-title {
      font-size: 20px;
      color: $green;
      @include f700;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 13px;
      color: $text;
    }
  }
}
// end advantages

// start premium
.premium {
  .container {
    max-width: 1920px;
  }
  &__title {
    font-size: 80px;
    margin-bottom: 30px;
    text-align: left;
  }
  &__primary {
    font-size: 60px;
    color: $green;
    margin-bottom: 30px;
    text-align: right;
  }
  &__text {
    font-size: 18px;
    color: $text;
    text-align: right;
    margin-bottom: 40px;
  }
  &__item {
    max-width: 550px;
    width: 100%;
    margin-top: 60px;
    & + & {
      margin-top: 60px;
    }
    &-image {
      width: 60px;
      margin-bottom: 50px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: $green;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }
    &-title {
      font-size: 20px;
      @include f700;
      margin-bottom: 10px;
    }
  }
}
// end premium

// media
@import "_media.scss";
