@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";
// start dots
.dots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  position: absolute;
  width: 100px;
  li {
    background-color: $green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: dotsDance 3000ms ease-in-out infinite;
  }
}
@keyframes dotsDance {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
// end dots

// start header
.header {
  height: 140px;
  width: 100%;
  position: fixed;
  margin-bottom: 40px;
  z-index: 20;
  background-color: #fdfdfb;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
  .navbar {
    z-index: 0;
    outline: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .nav-item {
    & + .nav-item {
      margin-left: 40px;
    }
  }
  .nav-link {
    position: relative;
    overflow-x: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 2px;
      background-color: $green;
      height: 3px;
      width: 0;
      opacity: 0;
      transition: 0.5s all ease-in-out;
    }
  }
  .nav-item.active .nav-link::after {
    width: 100%;
    opacity: 1;
  }
  .nav-item.active .nav-link {
    color: $green;
  }
  .nav-item:hover .nav-link {
    color: $green;
  }
  .nav-link {
    font-size: 16px;
    color: $text;
    @include f700;
  }
  &__menu {
    padding-top: 40px;
  }
  &__dots {
    top: 700px;
    right: 250px;
  }
  .navbar-toggler {
    position: relative;
    padding: 0;
    margin-top: 8px;
    width: 40px;
    height: 25px;
    outline: none;
  }
  .navbar-toggler-icon {
    display: block;
    width: 100%;
    height: 4px;
    background-color: $green;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $green;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      left: 0;
    }
  }
}
// end header

// start logo
.logo {
  position: relative;
  margin-top: 200px;
  margin-bottom: 350px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -200px;
    background-color: #f5f4ec;
    opacity: 0.2;
    width: 7000px;
    height: 900px;
    border-radius: 0 0 20% 70%;
    z-index: -1;
  }
  &__img {
    width: 200px;
  }
  &__title {
    font-size: 65px;
    letter-spacing: 0.6em;
    @include f300;
    margin-bottom: 15px;
  }
  &__paragraph {
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.5em;
    margin-bottom: 30px;
  }
}
.btn {
  padding: 24px 50px;
  font-size: 18px;
  line-height: 1.25;
  background-color: $green;
  border-radius: 10px;
  @include f700;
  transition: 0.2s all ease-in-out;
  text-align: center;
  letter-spacing: 0.1em;
  &:hover {
    background-color: #2c343b;
  }
}
// end logo

// start skins
.title {
  letter-spacing: 0.1em;
  @include f700;
}
.primary {
  font-size: 30px;
  line-height: 1.33333;
  @include f700;
}
.skins {
  margin-bottom: 200px;
  &__container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &__title {
    font-size: 60px;
    margin-bottom: 15px;
    span {
      color: $green;
    }
  }
  &__text {
    color: $text;
    font-size: 12px;
    margin-bottom: 60px;
  }
  &__filters {
    .skins__btn {
      position: relative;
      font-size: 16px;
      @include f500;
      border: none;
      background: transparent;
      margin-bottom: 60px;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0px;
        background-color: $green;
        height: 2px;
        width: 0;
        opacity: 0;
        transition: 0.5s all ease-in-out;
      }
      &.mixitup-control-active.skins__btn::after {
        width: 100%;
        opacity: 1;
      }
      &:hover.skins__btn::after {
        width: 100%;
        opacity: 1;
      }
    }
    button + button {
      margin-left: 40px;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc(20% - 25px);
    margin: 30px 12.5px 0;
    &:hover > .skins__item-image img {
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0px 20px rgb(0 0 0 / 20%);
      transform: scale(1.05);
    }
    &-image {
      img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        box-shadow: 0 0px 5px rgb(0 0 0 / 20%);
      }
    }
    &-title {
      font-size: 18px;
      color: #000;
      transition: all 0.3s ease-in-out;
      display: inline-block;
      &:hover {
        color: $green;
      }
    }
  }
}
// end skins

// start advantages
.advantages {
  position: relative;
  margin-bottom: 200px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -180px;
    background-color: #f5f4ec;
    opacity: 0.2;
    max-width: 1200px;
    width: 100%;
    height: 800px;
    border-radius: 0 80% 80% 50%;
    z-index: -1;
  }
  .container {
    max-width: 1920px;
  }
  &__title {
    font-size: 80px;
    margin-bottom: 20px;
  }
  &__primary {
    color: $green;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    color: $text;
    @include f300;
  }
  &__dots {
    right: 200px;
    top: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    li {
      width: 10px;
      height: 10px;
    }
  }
  &__info {
    max-width: 555px;
    margin-left: -200px;
  }
  &__items {
    margin-top: 120px;
    &-right {
      margin-top: 200px;
    }
  }
  &__item {
    max-width: 475px;
    width: 100%;
    & + & {
      margin-top: 60px;
    }
    &-image {
      width: 60px;
      margin-bottom: 50px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: $green;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }
    &-title {
      font-size: 20px;
      color: $green;
      @include f700;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 13px;
      color: $text;
    }
  }
}
// end advantages

// start premium
.premium {
  margin-bottom: 200px;
  .container {
    max-width: 1920px;
  }
  &__title {
    font-size: 80px;
    margin-bottom: 30px;
    text-align: left;
  }
  &__primary {
    font-size: 60px;
    color: $green;
    margin-bottom: 30px;
    text-align: right;
  }
  &__text {
    font-size: 18px;
    color: $text;
    text-align: right;
    margin-bottom: 40px;
  }
  &__item {
    max-width: 550px;
    width: 100%;
    margin-top: 60px;
    & + & {
      margin-top: 60px;
    }
    &-image {
      width: 60px;
      margin-bottom: 50px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: $green;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        z-index: -2;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 10px;
        z-index: -1;
      }
      img {
        width: 100%;
      }
    }
    &-title {
      font-size: 20px;
      @include f700;
      margin-bottom: 10px;
    }
  }
}
// end premium

// start footer
.footer {
  padding-bottom: 200px;
  position: relative;
  &__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__primary {
    color: $green;
  }
  &__star {
    margin-bottom: 50px;
    background-color: transparent;
    border: none;
  }
  &__text {
    font-size: 18px;
    margin-bottom: 0;
    &::selection {
      background: #59dfa5;
    }
    &::-moz-selection {
      background: #59dfa5;
    }
  }
  &__svg {
    position: absolute;
    height: 1000px;
    top: -200px;
    z-index: -1;
  }
}
// end footer

// start modal
.modal-content {
  border-radius: 10px;
  border: 1px solid $green;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 2px solid $green;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title {
  color: #000;
  @include f700;
}
.btn-close {
  background: none;
  opacity: 1;
}
.modal-header .btn-close {
  padding: 0;
  margin: -2.5rem -0.5rem -0.5rem auto;
}
.modal__form {
  input,
  textarea {
    border: 2px solid $green;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    &::placeholder {
      color: grey;
    }
    &:focus {
      box-shadow: 0px 0px 10px 2px rgba(151, 253, 172, 0.2);
    }
  }
  input {
    margin-bottom: 20px;
    height: 40px;
    padding: 0 15px 0;
  }
  textarea {
    padding: 10px 15px;
    max-width: 300px;
    width: 100%;
    height: 100px;
    resize: none;
  }
}
.modal__form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
  @include f700;
}
.modal__btn {
  font-size: 16px;
  color: #fff;
  background-color: #59dfa5;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #2c343b;
  }
}
.modal__rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
  margin-top: -15px;
  margin-bottom: 20px;
  &::before {
    content: "☆☆☆☆☆";
    display: block;
  }
  &-items {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-item {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
  }
  &-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #cdcdcd;
    &::before {
      content: "☆";
      display: block;
      transition: color 0.3s ease 0s;
    }
  }
  .modal__rating-item:checked,
  .modal__rating-item:checked ~ .modal__rating-label {
    color: $green;
  }
  .modal__rating-label:hover,
  .modal__rating-label:hover ~ .modal__rating-label,
  .modal__rating-label:checked ~ .modal__rating-label:hover {
    color: $greenLight;
  }
}

// end modal

// media
@import "_media.scss";
